<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <form class="d-flex">


      @if(this.userName()) {
        <div class="nav-content">
          <div>
            @if (this.userAvatar()) {
              <img class="user-picture" src="{{this.userAvatar()}}"  />
            } @else {
              <img class="user-picture" src="../../assets/images/default-user.jpg"  />
            }
          </div>
          <div>
            @if (this.userName()) {
              <p class="text-black my-2">{{this.userName()}}</p>
            } @else if (this.userEmail()) {
              <p class="text-black my-2">{{this.userEmail()}}</p>
            } @else {
              <p class="text-black my-2">Unknown</p>
            }
          </div>
          <div>
          <mat-nav-list>
              <mat-list-item (click)="this.navigateTo('games')">
                <mat-icon>videogame_asset</mat-icon>
                <span>Games</span>
              </mat-list-item>
              @if ( this.isAdmin$ | async ) {
                <mat-list-item (click)="this.navigateTo('admin-panel')">
                  <mat-icon>admin_panel_settings</mat-icon>
                  <span>Admin panel</span>
                </mat-list-item>
              }
          </mat-nav-list>
          </div>
          <div class="signout-button">
            <button mat-raised-button (click)="this.signOut()">
              Sign out
            </button>
          </div>
        </div>
      } @else {
        <app-signin />
      }
    </form>
    @if (this.showFiller()) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class = "upper-left">
      @if ( drawer.opened ) {
        <mat-icon (click)="drawer.toggle()">
          keyboard_arrow_left</mat-icon>
      } @else {
        <mat-icon (click)="drawer.toggle()">
          keyboard_arrow_right</mat-icon>
      }
    </div>
  </div>

  <div class="main-content-wrapper">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>



